#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: "Futura LT W04 Light Condensed", sans-serif;
  text-align: center;
  background: radial-gradient(#7093c7, #adc1df, #eaeff7);
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(4, auto);
  gap: 16px;
  justify-content: center;
  margin: 0 auto;
}

.card {
  border: none;
  border-radius: 8px;
  padding: 0px;
  background: #d6e0ef;
}

.card-header {
  background: #1d2c5e;
  color: #d6e0ef;
  padding: 8px;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.type-badge {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 6px;
}

.favorite-bar {
  padding: 8px;
  cursor: pointer;
}

.filters {
  margin-bottom: 20px;
}

button {
  margin: 4px;
  padding: 6px 10px;
  background: #d6e0ef;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid transparent;
  border-radius: 6px;
  transition:
    border-color 0.3s,
    background-color 0.3s;
}

button:hover {
  border-color: #1d2c5e;
  background-color: #cce0ff;
}

.title {
  font-family: "Pokemon Solid", sans-serif;
  font-size: 80px;
  color: #ffcb05;
  -webkit-text-stroke: 4px #3466af;
}
