body {
  font-family: Arial;
  text-align: center;
  /*background-color: #202020;*/
  /*background: linear-gradient(to right, #a76cde, #ff88ff, #ffaeae);*/
  /*background: linear-gradient(to right, #6c5193, #f65a6d, #ffa600);*/
  /*background: linear-gradient(to right, #4ee64e, #ffa600, #f65a6d);*/
  background-color: #050812;
}

.grid {
  display: grid;
  /*grid-template-columns: repeat(auto-fill, 280px); */
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-template-rows: repeat(5, auto); /* 5 rows */
  gap: 16px;
  justify-content: center;
  margin: 0 auto;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  /*background: #f9f9f9;*/
  background: #d6e0ef;
  /*height: 250px; /* same height for all cards */
}

.card img {
  width: 100px;
  height: 100px;
}

.filters {
  margin-bottom: 20px;
}

button {
  margin: 4px;
  padding: 6px 10px;
  background: #d6e0ef;
  cursor: pointer;
  /*border: 2px solid #c7a008; /* initial border color */
  border-radius: 6px; /* rounded corners */
  border: 2px solid transparent; /* invisible border by default */
  border-radius: 6px;
  transition:
    border-color 0.3s,
    background-color 0.3s;
}

button:hover {
  border-color: #c7a008; /* border appears on hover */
  background-color: #cce0ff; /* optional: slightly different background */
}

.title {
  font-family: "Pokemon Solid", sans-serif;
  font-size: 80px;
  color: #ffcb05;
  -webkit-text-stroke: 7px #3466af;
}
